# Subject: Data Science Foundation

## Session 8 - Probability distributions

### Assignment -  Conditional probability 

- Considering the Probability Distributions in Demo1 develop the Conditional probability ratings('A','B','C','D') by type of food.
 
- Commit scripts in your GitHub account. You should export your solution code (.ipynb notebook) and push it to your repository “DataScienceFoundations”.

- The following are the tasks that should complete and synchronize with your repository “DataScienceFoundations” until November 01. Please notice that this task will not be graded, however it’s important that you correctly understand and complete them in order to be sure that you won’t have problems with further assignments.

Guidelines:
- Clone the Git repository to get an initial code: 
https://github.com/FGutierresBTS/BTS_MasterInBigData.git
- Once you downloaded the repository to your local file system, go to the folder “BTS_MasterInBigData/ Session_8_DSF”. 
- Copy the folder “Session_8_DSF” into your local folder “DataScienceFoundations”. 
- In the folder “Session_8_DSF” you will see the files called: 
    -	BTS_DataScienceFoundation_Session8_Probability_Distributions_Assignment.ipynb.
- Import these files into Jupyter Notebook using the “Upload” button. 
- Open the imported script and put your code inside the notebook. 
- Export your Assignment *.ipynb notebook and push it to your repository “DataScienceFoundations”.

# Import modules and read the data frame

In [13]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import scipy.stats as stats

In [12]:
data = {'restaurant': ['McDonalds', 'Pizza Hut', 'Burger King', 'Nostrum', 'Tapecito', 'La Roda'], 
        'Food': ['Burger', 'Pizza', 'Burger', 'Tapas', 'Fish', 'Sushi'], 
        'rating': ['A', 'A', 'B', 'B', 'C', 'D'],
        'type': ['fast food', 'fast food', 'fast food', 'normal', 'normal', 'gourmet']}
df = pd.DataFrame(data, columns = ['restaurant', 'Food', 'rating', 'type'])
df

    restaurant    Food rating       type
0    McDonalds  Burger      A  fast food
1    Pizza Hut   Pizza      A  fast food
2  Burger King  Burger      B  fast food
3      Nostrum   Tapas      B     normal
4     Tapecito    Fish      C     normal
5      La Roda   Sushi      D    gourmet

## Question: Calculate the conditional probabilites of ratings('A','B','C','D') in ratings column by food type.

In [5]:
df.groupby('rating').count()['type']

rating
A    2
B    2
C    1
D    1
Name: type, dtype: int64

In [8]:
df.groupby('Food').count()['type']

Food
Burger    2
Fish      1
Pizza     1
Sushi     1
Tapas     1
Name: type, dtype: int64

In [9]:
df.groupby(['Food', 'rating']).count()

               restaurant  type
Food   rating
Burger A                1     1
       B                1     1
Fish   C                1     1
Pizza  A                1     1
Sushi  D                1     1
Tapas  B                1     1

In [16]:
(df.groupby(['rating', 'type']).count() / df.groupby('rating').count())['Food']

rating  type
A       fast food    1.0
B       fast food    0.5
        normal       0.5
C       normal       1.0
D       gourmet      1.0
Name: Food, dtype: float64

Because we are almost taking into acount different types of food, categories are filled with just one option with the exception of B rating that has 2, reason why chances we have a fifty fifty probability for "fast food" and "normal".

In [15]:
(df.groupby(['rating', 'type']).count() / df.groupby('type').count())['Food']

rating  type
A       fast food    0.666667
B       fast food    0.333333
        normal       0.500000
C       normal       0.500000
D       gourmet      1.000000
Name: Food, dtype: float64

When talking about gourmet food, chances are we are talking about rating D as it is the only one contending. 
En terms of normal food, things are divided en B and C categorie so that's a 50/50 chance.
Finally, when speaking about fast food, 2/3 of chances are in for an A category whearas the left 1/3 goes for a B rate food.