In [5]:
import pandas as pd

In [9]:
df = pd.read_csv("rural_population_data.csv")

In [10]:
df.head()

,Continent,ElevationZone,UrbanRuralDesignation,Population1990,Population2000,Population2010,Population2100,LandArea
0,Africa,Elevations > 20m or Non-Contiguous,Rural,333302081,418265923,530184094,1249908321,23749644
1,Africa,Elevations > 20m or Non-Contiguous,Urban,157846329,210381843,266776037,504662423,204719
2,Africa,Elevations Less Than or Equal To 10m,Rural,18167003,22569516,28154645,76368900,172460
3,Africa,Elevations Less Than or Equal To 10m,Urban,22412955,28679117,36746774,94042536,13838
4,Africa,Elevations Less Than or Equal To 12m,Rural,20569411,25576481,31957186,85839163,202456

In [11]:
df.shape

(120, 8)

In [13]:
df["Continent"].unique()

array(['Africa', 'Asia', 'Oceania', 'Europe', 'North America',
       'South America'], dtype=object)

In [34]:
df["Growrate"] = df.apply(lambda row: row["Population2100"] - row["Population2000"] / row["Population2000"], axis=1)

In [43]:
import matplotlib.pyplot as plt
df["Growrate"].hist()

In [44]:
df.isnull().sum()

Continent                0
ElevationZone            0
UrbanRuralDesignation    0
Population1990           0
Population2000           0
Population2010           0
Population2100           0
LandArea                 0
Growrate                 0
dtype: int64

In [67]:
ap2010 = df["Population2010"].mean()
ap2000 = df["Population2000"].mean()

av00_10 = (ap2010+ap2000)/2
round(av00_10)

128618905

In [75]:
urd = df.loc[:,"UrbanRuralDesignation"]

urban = 0

for i in urd:
    if i == "Urban":
        urban += 1
        
urban

60